:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-branco: #FFFF;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 50;
    padding: 50;
}

.principal {
    background-image: url(minecraft.jpg);
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 40%;
}

.container__botao{
    background-color: var(--botao-branco);
margin:-bottom: 1em ;
}

.container__caixa{
    margin:0 6em;
}

.botao_secundario{
    background-color: transparent;
    border:2px solid var(--branco-pricipal)
}

.container__aviso{
    font-size: 12px;
    color:var(--cinza-secundario);
}

.container__titulo{
  font-size: 80px;
  font-weight: 1000;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

