:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-branco: #FFFF;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 60;
    padding: 60;
}

.principal {
    background-image: url(mine.jpg);
}

.container{
    height: 130vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-preto);
    border-radius: 5px;
    padding: lem;
    color: var(--black-principal)
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__caixa{
    margin:2 11em;
}

.botao_secundario{
    background-color: transparent;
    border:2px solid var(--branco-pricipal)
}

.container__aviso{
    font-size: 50px;
    color:var(--cinza-secundario);
}

.container__titulo{
  font-size: 100px;
  font-weight: 1000;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

